@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 300;
    color: #d89210;
    letter-spacing: 5px;
}

input {
    border: none;
    border-radius: 10px;
}

input:hover {
    width: 20em;
    background: #79e7de;
    color: black;
    font-weight: 500;
    font-size: 2rem;
}